/*Global View akd Desktop View*/
body {
    color: white;
    margin: 0; /*Get rid of white borders*/
    font-family:  'Asap', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(110, 1, 1);

    /* background-image: url(images/gallery.svg);
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 100%;
    overflow: visible;
    width: 100%; */
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none; /*Gets rid of underline on links*/
}

.container {
    /* background-color: rgb(197, 184, 209); /*Gallery bg color */
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto; /*top bottom   left right */
    display: flex; /*get inline*/
    flex-wrap: wrap; /*wrap to next line if not enough space */
    justify-content: space-between;
    padding-top: 90px; /*margin bottom + min height 50 + 40 */

    /* background-color: rgb(255, 255, 255); */

    background-image: url(images/gallery.svg);
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 100%;
    overflow: visible;
    width: 100%;

}

.header-container {
    background-color: rgb(233, 3, 3);
    min-height: 50px;
    /* margin-bottom: 40px; */
    /* Make header stick */
    position: fixed; /*Make it come out of the flow, no longer blocking*/
    width: 100%;
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 50px;
    margin: 0 auto; /*centers it on page*/
    display: flex; /*makes text one line*/
    justify-content: space-between; /*adds space between logo and nav buttons*/
    align-items: center; /*centers them vertically*/
}



.footer-container {
    background-color: rgb(233, 3, 3);
    min-height: 70px;
    /* margin-top: 40px; */
    width: 100%;
    align-items: center; /*centers them vertically*/
    position: relative;
}

footer {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 60px;


    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    bottom: 0;

}

/* #copyright {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
} */

#fixme {
    width:auto;
    height:auto;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: bold;
}

.col {
    /*min-height: 200px;*/
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(216, 14, 14);
    
}

.col p {
    /* color: white; */
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 0.825rem;
}

.mybutton {
    padding: 10px 5px;
    /* border-style: solid;
    border-width: 1px; */
    margin-left: 20px;
    color: white;
    font-size: 1.75em;
    font-weight: 600;
    /* margin-left: 20px; */
    /* margin-left: -5px;    tabs format
    padding:20px; */
}

/* .soc {

} */

#social-media {
    text-align: right;

    margin-left: 5px;
    color: white;

    position:absolute;
    z-index:100;
    top: 0;
    right: 0;
    /* padding-top: 10px; */
    padding: 5px 3px;
    margin: 5px;
    margin-right: 10px;
    /* margin: 20px; */
    /* padding: 20px; */
}

#social-media-footer {
    text-align: center;
    color: white;
    padding: 5px;
    margin-right: 20px;
}

#name {
    font-size: 2.5em;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}



.mob-wrapper {
 display: none; 
}

#logo1 {

    /* height: 25vw;
    width: 20%;
    position: fixed;
    /* z-index: 102; */
    /* margin-top: 0px;*/
    top: 0; 
    width: 20%;
    max-width: 150px; 
    height: 25vw;

    /* height: 90px;  */
    position: absolute;
    margin: auto;
    display: block; 
    top: -120px;
    left: -1350px;
    right: 0;
}

/*Small desktop no social media  View*/
@media (max-width: 1300px){
    #social-media {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 180px;
    }
}
/*Tablet View*/
@media (max-width: 768px){
    .col {
        width: 47% /*width that allows for 2 boxers in a row*/
    }

    .hide-desktop-only {
        display: block;
    }

    /* simple css only change layout for mobile */
    /* header {                     for other style of site
        display: block;
        text-align: center;
    } */

    nav {
        display: none;
    }

   /* All below for resize nav into rows for avoiding burger menu */
    nav a {
        display: block;
    } 

    .logo {
        padding: 40px 0;
    }

    .mybutton {
        margin-left: 0;
    }

    .header-container{
        position: relative;
    }

    .container {
        padding-top: 40px; 
    }  

     .mob-wrapper {
        display: block; 
        padding-right: 30px;
    } 

    .mob-nav {
        display: none; /*default on. turn on with javascript*/
        position: absolute; /*only acknowledge parents*/
        padding-top: 10px;
    }

    .navbutton {
        display: block;
        background-color: rgb(138, 5, 5);
        padding: 15px 30px;
        margin-left: -70px;
        text-align: center;
    }
}

/*Mobile View*/
@media (max-width: 400px){
    .col {
        width: 100%
    }

    .hide-mobile-only {
        display: none;
    }

    /* .mob-wrapper {
        display: block; 
    } */
}