/*Global View akd Desktop View*/
body {
    color: white;
    margin: 0; /*Get rid of white borders*/
    /* font-family:  'Asap', sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family:  'Open sans', sans-serif;
    /* font-family: 'Didact Gothic', sans-serif; */
    /* background-color: #E6D7FF; */
    background-color: white;

    position: relative;
    /* background-color: #a44dc4; */

    /* background-image: url(images/gallery.svg);
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 100%;
    overflow: visible;
    width: 100%; */
}

#portfolio-container {
    background-color: #a44dc4;
}

#welcome-container{
    padding-top: 100px;
    /* background-color: red; */
    color: black;
    height: 565px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#welcome-content {
    display: inline;
    justify-content: center;
    width: 1024px;
    /* background-color: rgba(0, 0, 0, 0.08) !important; */
}


#joss {
    transform: scale(1.09);
    /* margin-left: -400px; */
    float: right;
    z-index: -1;
    position: fixed;
}

#welcome-text {
    float: right;
    font-size: 2.5em;
    font-weight: bolder;
    color: rgb(88, 0, 112);
    /* margin: auto; */
    /* background-color: red !important; */
    width: 50%;
    margin-top: 50px;
}

#hello {
    /* margin-right: 400px; */
}

.name {
    /* margin-right: 0px; */
    font-size: 3em;
    margin-top: 20px;
    margin-left: 15px;
}
.first {
    margin-left: 25px;
}

#description {
    margin-top: 30px;
    font-size: 0.85em;
}

#about {
    background-color: #fff; /* Set background color */
    border-radius: 8px; /* Set border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 0 auto; /* Center horizontally */
    max-width: 600px; /* Set maximum width */
    padding: 20px; /* Add some padding */
    color: black;
    margin-bottom: 50px;
}

.gallery-header {
    position: relative;
    /* margin-top: 80px; */
    font-size: 2.5em;
    text-align: center;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none; /*Gets rid of underline on links*/
}

.outer-container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto; /*top bottom   left right */
    padding-top: 90px; /*margin bottom + min height 50 + 40 */
    /* background-color: rgb(174, 107, 179); */
    background-color: #a44dc4;
    width: 100%;
}

.container {
    /* background-color: rgb(197, 184, 209); /*Gallery bg color */
    min-height: 340px;
    max-width: 1024px;
    margin: 0 auto; /*top bottom   left right */
    display: flex; /*get inline*/
    flex-wrap: wrap; /*wrap to next line if not enough space */
    justify-content: space-between;
    padding-top: 40px; /*margin bottom + min height 50 + 40 */

    /* background-color: rgb(0, 238, 147); */
    /* MAKE THE DOTS IN THE BACKGROUND */
    /* background-image: url(images/gallery.svg); */
    /* background-color: #048d02; */
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 100%;
    overflow: visible;
    width: 100%;
}

.header-container {
    /* background-color: rgb(233, 3, 3); */
    background-color: #68028d;
    min-height: 50px;
    /* margin-bottom: 40px; */
    /* Make header stick */
    position: fixed; /*Make it come out of the flow, no longer blocking*/
    width: 100%;
    z-index: 999;
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 50px;
    margin: 0 auto; /*centers it on page*/
    display: flex; /*makes text one line*/
    justify-content: space-between; /*adds space between logo and nav buttons*/
    align-items: center; /*centers them vertically*/
}



.footer-container {
    background-color: #68028d;
    /* background-color: rgb(233, 3, 3); */
    min-height: 70px;
    /* margin-top: 40px; */
    width: 100%;
    align-items: center; /*centers them vertically*/
    position: relative;
}

footer {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 60px;


    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    bottom: 0;

}

/* #copyright {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
} */

#fixme {
    width:auto;
    height:auto;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: bold;
}

.col {
    /*min-height: 200px;*/
    width: 30%;
    margin-bottom: 10px;
    background-color: rgb(88, 0, 112);
    height: 300px;
}

.col p {
    /* color: white; */
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 0.825rem;
}

.col .whitebg {
    background-color: white;
}

.col img:hover {
    /* background-color: white; */
    /* filter: blur(5px);
    filter: brightness(0.4);
    filter: contrast(200%);
    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(25%);
    filter: saturate(30%);
    filter: sepia(60%); */
    /* background: rgba(255, 255, 255, 0.5); */
    /* opacity: 0.5;
    transition: background .3s linear; */
}

.mybutton {
    padding: 10px 5px;
    /* border-style: solid;
    border-width: 1px; */
    margin-left: 20px;
    color: white;
    font-size: 1.75em;
    font-weight: 600;
    /* margin-left: 20px; */
    /* margin-left: -5px;    tabs format
    padding:20px; */

    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 200;
    padding-top: 11px;
    text-align: center;
}

/* style nav buttons inside of gallery */
.dropdown .navbutton {
    width:110px;
    background-color: white;
}

.dropdown .navbutton a{
    color:#333333;
    font-size: 0.5em;

}

.mybutton:hover .dropdown {
    display: block;
}

/* .soc {

} */

#social-media {
    text-align: right;

    margin-left: 5px;
    color: white;

    position:absolute;
    z-index:100;
    top: 0;
    right: 0;
    /* padding-top: 10px; */
    padding: 5px 3px;
    margin: 5px;
    margin-right: 10px;
    /* margin: 20px; */
    /* padding: 20px; */
}

#social-media-footer {
    text-align: center;
    color: white;
    padding: 5px;
    margin-right: 20px;
}

#name {
    font-size: 2.5em;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}



.mob-wrapper {
 display: none; 
}

#mlogo {
    /* height: 25vw;
    width: 20%;
    position: fixed;
    /* z-index: 102; */
    /* margin-top: 0px;*/

    /* top: 100px; 
    width: 20%;

    max-width: 150px; 
    height: 400px; */

    /* height: 90px;  */

    /* position: absolute;
    margin: auto;
    display: block; 
    top: -120px;
    left: -1350px;
    right: 0; */

    width: 150px; 
    /* height: 400px;  */
    position: fixed;
    top: 0;
    left: 0;
    
}

/*Small desktop no social media  View*/
@media (max-width: 1300px){
    #mlogo {
        /* display: none; */
    }

    #social-media {
        left: 0; 
        right: 0; 
        top: 0;
        margin-left: auto; 
        margin-right: auto; 
        width: 180px;
    }
}
/*Tablet View*/
@media (max-width: 768px){
    .col {
        width: 47% /*width that allows for 2 boxers in a row*/
    }

    .hide-desktop-only {
        display: block;
    }

    /* simple css only change layout for mobile */
    /* header {                     for other style of site
        display: block;
        text-align: center;
    } */

    nav {
        display: none;
    }

   /* All below for resize nav into rows for avoiding burger menu */
    nav a {
        display: block;
    } 

    .logo {
        padding: 40px 0;
    }

    .mybutton {
        margin-left: 0;
    }

    .header-container{
        position: relative;
    }

    .container {
        padding-top: 40px; 
    }  

     .mob-wrapper {
        display: block; 
        padding-right: 30px;
    } 

    .mob-nav {
        display: none; /*default on. turn on with javascript*/
        position: absolute; /*only acknowledge parents*/
        padding-top: 10px;
    }

    .navbutton {
        display: block;
        background-color: rgb(138, 5, 5);
        padding: 15px 30px;
        margin-left: -70px;
        text-align: center;
    }

    #name-hide {
        display: none;
    }

    #mlogo {
        position: absolute;
        
        /* left: 0; 
        right: 0; 
        top: 0;
        margin-left: auto; 
        margin-right: auto; 
        width: 180px;
        height: 180px; */
    }

    #social-media {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Mobile View*/
@media (max-width: 400px){
    .col {
        width: 100%
    }

    .hide-mobile-only {
        display: none;
    }

    /* .mob-wrapper {
        display: block; 
    } */
}